includes:
	- phpstan-baseline.neon

parameters:

    paths:
        - docs/example
        - src

    level: 8

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
