includes:
	- phpstan-baseline.neon

parameters:

    paths:
        - docs/example
        - src

    level: 8

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            identifier: arrayFilter.strict
