services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Valantic\ElasticaBridgeBundle\Command\:
    resource: '../../Command/*'
    tags: [ 'console.command' ]

  Valantic\ElasticaBridgeBundle\Elastica\Client\ElasticsearchClientFactory: ~

  Valantic\ElasticaBridgeBundle\Elastica\Client\ElasticsearchClient:
    factory: '@Valantic\ElasticaBridgeBundle\Elastica\Client\ElasticsearchClientFactory'

  Valantic\ElasticaBridgeBundle\Service\:
    resource: '../../Service/*'

  Valantic\ElasticaBridgeBundle\EventListener\:
    resource: '../../EventListener/*'

  Valantic\ElasticaBridgeBundle\Repository\ConfigurationRepository:

  Valantic\ElasticaBridgeBundle\Repository\IndexRepository:
    arguments:
      - !tagged_iterator valantic.elastica_bridge.index

  Valantic\ElasticaBridgeBundle\Repository\DocumentRepository:
    arguments:
      - !tagged_iterator valantic.elastica_bridge.document

  Valantic\ElasticaBridgeBundle\Messenger\Handler\:
    resource: '../../Messenger/Handler/*'
    tags:
      - { name: messenger.message_handler }

  Valantic\ElasticaBridgeBundle\Factory\ConsoleOutputFactory: ~

  Symfony\Component\Console\Output\ConsoleOutputInterface:
    factory: ['@Valantic\ElasticaBridgeBundle\Factory\ConsoleOutputFactory', 'create']
